[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = git@github.com:eddiewebb/hugo-resume.git
[submodule "themes/academic"]
	path = themes/academic
	url = git@github.com:gcushen/hugo-academic.git
