::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: .3rem;
}

/*************************************************
 *  Experience
 **************************************************/

.work-metadata {
  color: #4b4f56;
  font-size: 0.8rem;
}